 .bannerimg{
    z-index:0;
 }
 .info{
    text-align: justify;
}

 .infodiv{
    position: absolute;
   height: 100%;
   background: rgba(15, 23, 43, 0.6);
    bottom:0rem;
    z-index:2;
}  

@media only screen and (min-width: 800px) and (max-width: 1200px)  {
   .popularPackageHeader {
       position: relative;
       right:100px;
   }
 }

 @media only screen and (min-width: 400px) and (max-width: 800px)  {
   .popularPackageHeader {
       position: relative;
       right:200px;
   }
 }