.container {
  display: flex;
  width: 1200px;
  border-width: 14px;
  border-image: repeating-radial-gradient(
      circle at 10px,
      aqua,
      pink 2px,
      pink 2px
    )
    1;
}

.container:hover {
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 700ms;
}

.rightBorder {
  border-width: 5px;
  border-image: repeating-radial-gradient(
      circle at 10px,
      aqua,
      pink 2px,
      pink 2px
    )
    1;
}
