.container {
  display: flex;
  width: 1200px;
  border-width: 14px;
  border-image: repeating-radial-gradient(
      circle at 10px,
      aqua,
      pink 2px,
      pink 2px
    )
    1;
}

.container:hover {
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 700ms;
}

.rightBorder {
  border-width: 5px;
  border-image: repeating-radial-gradient(
      circle at 10px,
      aqua,
      pink 2px,
      pink 2px
    )
    1;
}

@media only screen and (min-width: 800px) and (max-width: 1200px)  {
  .hotel-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media only screen and (min-width: 800px) and (max-width: 1200px)  {
  .interestedBtn {
    width: 50%;
  }
}

@media only screen and (min-width: 800px) and (max-width: 1200px)  {
  .notInterestedBtn {
    width: 80%;
    margin-top:30px;
    }
}

/* @media only screen and (min-width: 500px) and (max-width: 1000px)  {
  .interestedBtn {
    width: 80%;
    margin-left:80px;
  }
}

@media only screen and (min-width: 500px) and (max-width: 1000px)  {
  .notInterestedBtn {
    width: 80%;
    margin-top: 20px;
  }
} */

@media only screen and (min-width: 800px) and (max-width: 1200px)  {
  .hotel-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left:145px;
    padding-top:20px;
  }
}

@media only screen and (min-width: 800px) and (max-width: 1200px)  {
  .hotel-image {
    width: 100%;
  }
}

@media only screen and (min-width: 800px) and (max-width: 1200px)  {
  .rightBorder {
    display: none;
  }
}