@import url('https://fonts.googleapis.com/css2?family=Arimo:wght@600&family=Open+Sans:ital,wght@0,500;1,800&family=Source+Sans+Pro&display=swap');

*{
  font-family:Tohama
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.hamburger-menu {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  width: 30px;
  height: 20px;
  padding: 5px;
  z-index: 10;
}

@media (max-width: 768px) {
  .hamburger-menu {
    display: flex;
  }
}

.hamburger-menu.open .bar:nth-child(1) {
  transform: rotate(45deg) translate(6px, 6px);
}

.hamburger-menu.open .bar:nth-child(2) {
  opacity: 0;
}

.hamburger-menu.open .bar:nth-child(3) {
  transform: rotate(-45deg) translate(8px, -8px);
}

.bar {
  width: 100%;
  height: 2px;
  background-color: white;
  transition: all 0.3s ease;
}

.menu-items {
  display: flex;
  flex-direction: row;
}

.menu-items.open {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: #434344;
  z-index: 9;
  padding: 20px;
}

.menu-items.open a {
  margin-bottom: 10px;
}

.bouncyBtn{
      background-color: white;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        -webkit-transition-duration: 0.4s;
        transition-duration: 0.4s;
        cursor: pointer;
}

.bouncyBtn:hover {
  background-color: #555555;
  color: white;
}

@keyframes bouncy {
  0% {
    -webkit-transform: scale(1.1, .9);
    transform: scale(1.1,0.9);
  }

  50% {
    -webkit-transform: scale(1.1, 1.1) translateY(.5rem)
  }

  70% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

button.bouncy {
  display: inline-block;
  animation: bouncy 2s ease 2s infinite alternate;
}

button.bouncy:hover {
  animation: none;
}

@media only screen and (max-width: 1400px) {
  .home-circles {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@media only screen and (min-width: 800px) and (max-width: 1200px)  {
  .home-circles {
      display: flex;
      flex-direction: column;
      position: relative;
      right:100px;
  }
}

@media only screen and (max-width: 1400px) {
  .home-packages {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top:550px;
  }
}

@media only screen and (max-width: 1400px) {
  .home-specificcircle {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
  }
}

@media only screen and (min-width: 800px) and (max-width: 1300px)  {
  .home-specificcircle {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
  }
}

@media only screen and (min-width: 1080px) and (max-width: 1300px)  {
  .privacy-policy-top {
    width:1000px;
    margin-left:60px;
    text-align: justify;
  }
}

@media only screen and (min-width: 700px) and (max-width: 1080px)  {
  .privacy-policy-top {
    width:800px;
    margin-left:60px;
    text-align: justify;
  }
}

@media only screen and (min-width: 700px) and (max-width: 1080px)  {
  .visa {
    width:800px;
    margin-left:60px;
  }
}

@media only screen and (min-width: 1000px) and (max-width: 1300px)  {
  .visa-banner {
    position: absolute;
    top:50px;
  }
}

@media only screen and (max-width: 1000px)  {
  .visa-banner {
    position: absolute;
    top:50px;
  }
}

@media only screen and (min-width: 1080px) and (max-width: 1200px)  {
  .itinerary-plan {
    position: relative;
    width:90%;
  }
}

@media only screen and (min-width: 720px) and (max-width: 1080px)  {
  .itinerary-plan {
    position: relative;
    width:80%;
  }
}

@media only screen and (min-width: 1000px) and (max-width: 1200px)  {
  .specifichotel-title {
    position: relative;
    width:70%;
    margin-left:150px;
  }
}

@media only screen and (min-width: 720px) and (max-width: 1000px)  {
  .specifichotel-title {
    position: relative;
    width:65%;
    margin-left:180px;
  }
}

@media only screen and (min-width: 1000px) and (max-width: 1200px)  {
  .specifichotel-container {
    position: relative;
    width:70%;
    margin-left:150px;
  }
}